@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-obsidian-black text-white font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface-glass backdrop-blur-md border border-surface-border shadow-glass;
  }
  .glass-panel-hover {
    @apply hover:bg-surface-glass-hover transition-colors duration-300;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
